@charset "UTF-8";
.left {
  overflow: hidden;
  float: left;
  width: 180px;
  margin-right: 5px;
}

.leftList {
  overflow: hidden;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
}

.leftList h1 {
  font-size: 14px;
  background: #f2f2f2;
  text-align: left;
  padding-left: 10px;
}

.leftList ul li {
  background: #fff;
  border-bottom: 1px solid #ededed;
  line-height: 22px;
  padding: 10px 8px;
  transition: background-color .5s;
}

.leftList ul li a {
  color: #999;
  font-size: 12px;
}

.leftList ul li a:hover {
  color: #c11;
}

.leftList ul li a img {
  border: 1px solid #ddd;
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.right {
  float: right;
  overflow: hidden;
  width: 770px;
}

.screenCon {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
  padding: 10px 0;
}

.screenCon dl {
  padding: 5px 0;
  overflow: hidden;
}

.screenCon dl dt {
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 900;
  text-align: right;
  width: 70px;
}

.screenCon dl dd {
  float: left;
  display: block;
  width: 618px;
}

.screenCon dl dd strong a {
  display: block;
  float: left;
  height: 20px;
  width: 40px;
  text-align: center;
  background: red;
  color: #000;
  margin-right: 10px;
  margin-bottom: 10px;
}

.screenCon dl dd span a {
  display: block;
  float: left;
  margin-left: 5px;
  height: 20px;
  width: 70px;
  text-align: center;
}

.screenCon dl dd span a:hover {
  background: red;
}

.tc {
  text-align: center;
}

.showAll {
  border-top: 1px solid #ddd;
}

.showAll span {
  display: inline-block;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  width: 150px;
  height: 24px;
  font: normal 14px/24px "微软雅黑";
  cursor: pointer;
  margin-top: -1px;
  margin-bottom: 3px;
  color: #999;
}

.desc {
  border: 1px solid #ddd;
  padding: 5px;
  margin-top: 20px;
  background: #f7f7f7;
}

.desc dt {
  margin-left: 5px;
}

.desc dl {
  float: left;
}

.fl {
  display: inline;
  float: left;
}

.fl dd {
  border: 1px solid #ddd;
  margin-right: 5px;
  height: 24px;
  width: 40px;
  line-height: 24px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}

.sort {
  float: left;
}

.sort dt {
  float: left;
  line-height: 26px;
  height: 26px;
}

.sort dd {
  float: left;
}

.curr {
  background: #c00;
  font-weight: bold;
  border-color: #c00 a;
  border-color-color: #fff;
  border-color-cursor: pointer;
  border-color-text-align: center;
}

.down a {
  color: #fff;
  height: 12px;
  line-height: 12px;
  width: 30px;
  text-align: center;
}

.erxiao ul li {
  margin-left: 12px;
}

.desc .upright {
  display: block;
  height: 24px;
  line-hieght: 24px;
  float: right;
  margin-top: 5px;
}
